---
import '../styles/main.css';
import Loads from '../components/Loads.astro';
interface Props {
  frontmatter: {
    readonly title: string;
  };
}
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang='ja'>
  <head>
    <meta charset='utf-8' />
    <meta name='viewport' content='width=device-width,initial-scale=1' />
    <meta name='generator' content={Astro.generator} />
    <meta name='color-scheme' content='light dark' />
    <link href='/favicon.ico' type='icon' />
    <Loads />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <header>
      <h1 id='title'>
        {frontmatter.title}
      </h1>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
